os:
  editPreset: 'vim'
git:
  branchLogCmd: 'git log --graph --color=always --abbrev-commit --decorate --pretty=oneline {{branchName}} --'
  pagers:
    - colorArg: always
      pager: delta -n --dark --paging=never
      #externalDiffCommand: difft --color=always --display=inline
  allBranchesLogCmds:
    - git graph --color=always --model=simple --style=round
  autoForwardBranches: none
gui:
  nerdFontsVersion: "3"
keybinding:
  universal:
    optionMenu: 'x'
    filteringMenu: '<c-f>'
  commits:
    moveDownCommit: 'J'
    moveUpCommit: 'K'
    openLogMenu: <c-/>
    viewResetOptions: <disabled>
customCommands:
  - key: 'P'
    command: 'git push `git for-each-ref --format="%(upstream:remotename)" "$(git symbolic-ref -q HEAD)"` {{.SelectedCommit.Hash}}:`git for-each-ref --format="%(upstream:remoteref)" "$(git symbolic-ref -q HEAD)"`'
    context: "commits"
    description: "Push selected commit"
    output: log
  - key: 'E'
    description: 'Add empty commit'
    context: 'commits'
    command: 'git commit --allow-empty -m "empty"'
    loadingText: 'Committing empty commit...'
  - key: '<c-s>'
    description: 'Adds a Signed-off-by line to selected commit'
    context: 'commits'
    command: 'git commit --no-edit --signoff --fixup=reword:{{.SelectedLocalCommit.Sha}} && GIT_SEQUENCE_EDITOR="cat > /dev/null" git rebase --interactive --autostash --keep-empty --rebase-merges --autosquash {{.SelectedLocalCommit.Sha}}^'
    output: log
  - key: 'N'
    description: 'Create/drop branch w/ upstream set to current upstream'
    context: 'commits'
    prompts:
      - type: 'input'
        title: 'New branch name tracking: {{.SelectedLocalBranch.UpstreamRemote}}/{{.SelectedLocalBranch.UpstreamBranch}}'
        key: 'BranchName'
    command: 'git switch -c {{.Form.BranchName}} {{.SelectedLocalCommit.Sha}} && git branch --set-upstream-to={{.SelectedLocalBranch.UpstreamRemote}}/{{.SelectedLocalBranch.UpstreamBranch}}'

# 'UPSTREAM=$(git rev-parse --abbrev-ref --symbolic-full-name @{u}) && git switch -c test {{.SelectedLocalCommit.Sha}} && git branch --set-upstream-to=$UPSTREAM'
